<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Meeting info</h3>
  </div>
  <div class="panel-body">
        <p><strong>Starting : </strong><%=@meeting.start_time %></p>
        <p><strong>Level : </strong><%=@meeting.ride_level.name %></p>
        <p><strong>Type : </strong><%=@meeting.ride_type.name %></p>
  </div>
</div>